* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-repeat: repeat;
    background-position: left;
}

.container {
    background-color: black;

}

.col-1, .col-2 {
    border: 2px inset rgb(30, 30, 30);
    height: calc( 970px / 18 );
}

.grey {
    background-color: rgb(102, 102, 102);
}

.red {
    background-color: red;
}

.lightblue {
    background-color: rgb(60, 236, 238);
}

.purple {
    background-color: rgb(239, 5, 247);
}

.yellow {
    background-color: rgb(255, 255, 11);
}

.green {
    background-color: rgb(72, 254, 0);
}

.orange {
    background-color: rgb(244, 100, 0);
}

.darkgrey {
    background-color: rgb(20, 20, 20);
}

.col-4 {
    text-align: center;
}

p {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

#red {
    color: red;
}

#yellow {
    color: rgb(255, 255, 11);
}
